<!DOCTYPE html>
<html lang="en">
<head>
      {{>links}}  
  

</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                      <!-- left side of main body -->
                    <div class="col-md-6 col-12 main-header_left">
                     <figure>
                        <img src="image/about.png" alt="khaiju" class="img-fluid" title="dipesh">
                     </figure>
                   </div>
                    <!-- right side of main body -->
                    <div class="col-md-6 col-12 main-header_left">
                         <p>Welcome to WeatherApp by Dipesh</p>
                         <h1> I am currently <span class="weather-color">Learning</span> about Web Development especially backend</h1>
                        <a href="https://www.facebook.com/messages/t/"><button>About me</button></a>
                    </div>
                  
                
                </div>
            </div>
        </div>
  {{>footer}}
</body>
</html>
