<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
   

</head>
<body>
   {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side of main body -->
                    <div class="col-md-6 col-12 main-header_left">
                         <p>Welcome to WeatherApp by Dipesh</p>
                         <h1> Visit us to get <span class="weather-color">weather</span> info about your city</h1>
                        <a href="https://www.facebook.com/deepeshkhaiju"><button>Text Us </button></a>
                    </div>
                    <!-- right side of main body -->
                    <div class="col-md-6 col-12 main-header_right">
                      <p>you can text us or call at +977 980000000</p>
                      <p>Reach us via  email at khaijudipesh@gmail.com</p>
                      <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new"><button>Mail us</button></a>
                    </div>
                </div>
            </div>
        </div>
   {{>footer}}
</body>
</html>
